.cardFull {

    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    background-color: ivory;
}

.cardTitle {
    color: brown;
    font-weight: bold;
    font-size: small;
}

.cardButton {
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 8px;
    font-size: x-small;
    width: 80px;
    background: brown;
}