#title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #ingredients {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #ingredients td, #ingredients th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #ingredients tr:nth-child(even){background-color: #f2f2f2;}
  
  #ingredients tr:hover {background-color: #ddd;}
  
  #ingredients th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }

  .delete {
    color: white;
    font-family: 'Fredericka the Great', cursive;
    background-color: brown;
    text-shadow: 4px 4px 4px rgb(36, 27, 23);
    border-color: rgb(36, 27, 23);
    border-radius: 5px;
    border-width: 1px;
    font-weight: normal;
    font-size: small;
    transition: 0.5s;
}

.delete:hover {
    background-color: rgb(104, 29, 29);
    text-decoration: underline;
    border-color: red;
  }

  .deleteColumn {
    width: 100px;
  }
  