.resultContainer {
    background-image: url(../images/paperboard-texture_95678-72.jpg);
    width: 500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.drinkTitle {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: 'Fredericka the Great', cursive;
    margin-bottom: 10px;
    background: rgb(240, 215, 177);
    padding: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

/* 
.saveButton {
    font-family: 'Fredericka the Great', cursive;
} */

.font {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.colorBlack {
    font-size: small;
    color: black;
}

.teaser {
    background-color: white;
    padding: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.center {
    margin-left: 50px;
}

.standardButton {
    font-family: 'Fredericka the Great', cursive;
    background-color: brown;
    text-shadow: 4px 4px 4px rgb(36, 27, 23);
    border-color: rgb(36, 27, 23);
    border-radius: 20px;
    border-width: 3px;
    opacity: 0.85;
}

.standardButton:hover {
    background-color: rgb(104, 29, 29);
    text-decoration: underline;
  }