.button {
    margin-left: 10px;
    font-size: medium;
    border-style: solid;
    border-radius:7px;
    text-shadow: 4px 4px 4px #aaa;
    border-color: darkgray;
    background-color: rgb(36, 27, 23);
    color: rgb(36, 27, 23);
}

body {
    background-image: url(../images/silhouette.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: rgb(36, 27, 23);
    font-family: 'Fredericka the Great', cursive;
}

.drinkButton {
    position: relative;
    left: 42.5%;
    margin-top: 16%;
    width: 20%;
    height: 100px;
    font-size: xx-large;
    font-family: 'Fredericka the Great', cursive;
    background-color: brown;
    text-shadow: 4px 4px 4px rgb(36, 27, 23);
    border-color: rgb(36, 27, 23);
    border-radius: 20px;
    border-width: 3px;
    opacity: 85%;
}

.foodButton {
    position: relative;
  left: 22.5%;
    margin-top: 22%;
    width: 20%;
    height: 100px;
    font-size: xx-large;
    font-family: 'Fredericka the Great', cursive;
    background-color: brown;
    text-shadow: 4px 4px 4px rgb(36, 27, 23);
    border-color: rgb(36, 27, 23);
    border-radius: 20px;
    border-width: 3px;
    opacity: 85%;
}

.drinkButton:hover, .foodButton:hover {
    background-color: rgb(104, 29, 29);
    text-decoration: underline;
    transition: 0.7s;
  }

@media only screen and (min-width: 600px) {
      
}

@media only screen and (min-width: 768px) {
    .button{
        margin-left: 10px;
        font-size: small;
        width: 90px;
        height: 40px;
    }
}

@media only screen and (min-width: 992px) {

    .button{
        margin-left: 10px;
        font-size: small;
        width: 90px;
        height: 40px;
    }

    body {
        background-image: url(../images/silhouette.png);
        background-size: 80%;
    }
    .drinkButton {
        left: 43.5%;
        margin-top: 15%;
        width: 18%;
        height: 90px;
        font-size: x-large;
    }
    
    .foodButton {
        left: 25.5%;
        margin-top: 24%;
        width: 18%;
        height: 90px;
        font-size: x-large;
    }
}

@media only screen and (min-width: 1200px) {

    .button{
        margin-left: 10px;
        font-size: medium;
        width: 120px;
        height: 40px;
    }

    body {
        background-image: url(../images/silhouette.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-color: rgb(36, 27, 23);
        font-family: 'Fredericka the Great', cursive;
    }
    
    .drinkButton {
        left: 43.5%;
        margin-top: 15%;
        width: 18%;
        height: 90px;
        font-size: x-large;
    }
    
    .foodButton {
        left: 25.5%;
        margin-top: 24%;
        width: 18%;
        height: 90px;
        font-size: x-large;
    }
    
    .drinkButton:hover, .foodButton:hover {
        background-color: rgb(104, 29, 29);
        text-decoration: underline;
        transition: 0.7s;
      }

}

@media only screen and (min-width: 1680px) {
    .navbar-brand {
        text-shadow: 4px 4px 4px blue;
        }
    
}