.button {
    border-style: solid;
    border-radius:7px;
    text-shadow: 4px 4px 4px #aaa;
    border-color: darkgray;
    background-color: rgb(36, 27, 23);
}

.backing {
    background-color: white;
    padding: 20px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;    
    border-radius: 5px;
}

.btn-friend {
    width: 150px;
}

.loginButton {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.lead {
    font-weight: bold;
    font-size: medium;
    width: 330px;
    padding-left: 10px;
    padding-right: 10px;
}

.createRecipe {
    margin-left: 130px;
    margin-top: 30px;
}

.recipeBlock {
    margin-left: 30px;
}

.heading {
    font-family: 'Fredericka the Great', cursive;
}

.recipeHeading {
    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.savedRecipe {
    width: 800px;
    padding-left: 100px;
    margin-left: 30%;
}

.centerResult {
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-left: 100%;
}

.column {
    background: url(../images/paperboard-texture_95678-72.jpg);
    border-radius: 20px;
}

.fontNorm {
    font-family: 'Times New Roman', Times, serif;
}

.fontStyled {
    font-family: 'Fredericka the Great', cursive;
}

.tableHeader {
    font-family: 'Fredericka the Great', cursive;
    color: blue;
    background-color: blue;
}

.recipeList {
    width: 350px;
    margin-left: 80px;
    padding: 30px;
}

.sendButton, .btn-login, .btn-friend {
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: rgb(165, 87, 42);
    border-radius: 7px;
    font-family: 'Fredericka the Great', cursive;
    margin-left: 10px;
    padding: 5px;
    border-radius:7px;
    color: black;
}
.btn-friend:hover {
    background-color: rgb(165, 87, 42);
    text-decoration: underline;
  }

body {
    background-image: url(../images/silhouette.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 1vw;
    background-color: rgb(36, 27, 23);
    background-size: 70vw;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    font-family: 'Fredericka the Great', cursive;
}

.thead-light {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.standardButton {
    color: white;
    font-family: 'Fredericka the Great', cursive;
    background-color: brown;
    text-shadow: 4px 4px 4px rgb(36, 27, 23);
    border-color: rgb(36, 27, 23);
    border-radius: 10px;
    border-width: 2px;
    opacity: 0.85;
    font-weight: normal;
    transition: 0.7s;
}

.standardButton:hover {
    background-color: rgb(104, 29, 29);
    text-decoration: underline;
    color: white;
    border-color: red;
  }

.form-check {
    margin-left: 20px;
}

.form-check,.form-group {
    padding: 10px;
    font-weight: bolder;
}

.form-control {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.form-check1 {
    float: left;
    padding-right: 40px;
    padding-left: 40px;
}

.bordered {
    border-style: solid;
    border-width: 2px;
    border-color: brown;
}

.radioContainer, .card-body {
    border-radius: 25px;
    background: url(../images/paperboard-texture_95678-72.jpg);
}

.sendButton {
    margin-bottom: 10px;
    color: #EB6864;
}

.savedItems {
    color: brown;
}

.row {
    display: flex;
    flex-wrap: wrap;
 }
 
 .row > div[class*='col-'] {
   display: flex;
 }

.containerDrink {
    height: 300px;
    overflow-x: scroll;
    margin-left: 60px;
  }

.containerRecipe {
    height: 300px;
    overflow-x: scroll;
    margin-left: 90px;
  }

.recipesForm {
    max-height: 200px;
}

.drinkButton {
    height: 5vw;
    width: 26%;
    font-size: 2vw;
    padding: 10px;
    margin-left: 37%;
    margin-top: 15%;
    margin-bottom: 2%;
}

.foodButton {
    height: 5vw;
    width: 26%;
    font-size: 2vw;
    padding: 10px;
    margin-left: 37%;
}

@media only screen and (max-width: 700px) {

    .drinkButton {
        height: 8vw;
    }
    
    .foodButton {
        height: 8vw;
    }

    .button{
        margin-left: 10px;
        font-size: xx-small;
        width: 90px;
        height: 30px;
    }

    /* .containerDrink {
        height: 300px;
        overflow-x: scroll;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
      }
    
    .containerRecipe {
        height: 300px;
        max-width: 150px;
        overflow-x: scroll;
      } */
    
    .heading {
        font-size: 6vw;
    }

    .smallestFont {
        font-size: small;
    }

    .btn-friend {
        font-size: small;
    }

    .create-recipe-smallest {
        max-width: 500px;
    }

    .recipeBlock {
        overflow: hidden;
    }    

    .smaller {
        width: 300px;
    }

    .create-recipe-button {
        float: left;
    }

    .createRecipe {
       margin-left: 100px;
    }

    .recipeList {
        margin-left: 30px;
    }

    body {
        background-position-y: 10vw;
    }
}
    
 @media only screen and (min-width: 700px) {
    .button{
        margin-left: 10px;
        margin-bottom: 10px;
        width: 11vw;
        height: 3vw;
        font-size: 1vw;
    }

    /* .containerDrink {
        height: 300px;
        overflow-x: scroll;
        max-width: 300px;
      }
    
    .containerRecipe {
        height: 300px;
        max-width: 300px;
        overflow-x: scroll;
      } */

    .btn-friend {
        font-size: small;
    }

    .recipeBlock {
        margin-left: auto;
        margin-right: auto;
    }

    .recipeList {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        background-position-y: 10vw;
    }
}

@media only screen and (min-width: 1000px) {

    body {
        background-position-y: 5vw;
    }

    .button{
        margin-left: 10px;
        margin-bottom: 10px;
        width: 8vw;
        height: 3vw;
        font-size: 1vw;
    }
}
